<template>
  <div>
    <div class="container">
      <div class="block mb-1">
        <label for="name" class="block text-gray-700 text-sm mb-2" >Name:</label>
        <input type="text" id="name" name="name" v-model="name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
      </div>
      <div class="block mb-1">
        <label for="content" class="block text-gray-700 text-sm mb-2" >Content:</label>
        <input type="text" id="content" name="content" v-model="content" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
      </div>

      <button :disabled="loading" class="w-full bg-blue-500 disabled:bg-gray-500 hover:bg-blue-700 text-white font-bold py-1 px-1 mt-1 mb-2 rounded focus:outline-none focus:shadow-outline block" @click="submit">{{loading ? "Creating...." : "Create"}}</button>
    </div>
  </div>
</template>

<script>
/**
 * Form for handing a new note, can be merged with edit functionality?
 */
const axios = require('axios');
export default {
  props: {
    notebook: Number,
    parent: Number | null,
  },
  data: function() {
    return {
      name: "",
      content: "",
      loading: false,
      errors: [],
      success: false
    }
  },
  computed: {
  },
  created: function(){ 

  },
  methods: {
    submit: function() {
      let self = this;
      this.loading = true;
      let data = {
        notebook: this.notebook, 
        parent: this.parent,
        name: this.name, 
        content: this.content,
      };
      axios.post('/notes', data)
        .then(res => {
          console.log(res)
          self.success = true;
          self.errors = [];
          self.$emit('noteCreated', res.data);
        })
        .catch(err => {
          console.log(err)
          self.errors = err;
          self.success = false;
        })
        .finally(() => self.loading = false);
    },
  }
}
</script>