<template>
  <div>
    <li>
      <span class="cursor-pointer" @click="setNote(note)" :class="{underline : note.id == currentNoteId}">{{note.name}}</span>
      <ul v-if="note.children" class="list-disc ml-4">
        <note-tree-node v-for="child in note.children" :note="child" :key="child.id" :setNote="setNote" :currentNoteId="currentNoteId"></note-tree-node>
      </ul>

    </li>
  </div>
</template>

<script>
/**
 * Component that takes a note, and recursively renders all child notes
 */
const axios = require('axios');
export default {
  props: {
    note: Object,
    setNote: Function,
    currentNoteId: Number
  },
}
</script>