<template>
  <div class="border rounded grid grid-cols-12 bg-white">
    <div class="border col-span-3 px-2">
      <button class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-1 mt-1 mb-2 rounded focus:outline-none focus:shadow-outline block" @click="setState('create')">New Note</button>
      <ul class="list-disc list-inside">
        <note-tree-node v-if="rootNote" :note="rootNote" :setNote="setCurrentNote" :currentNoteId="currentNote.id" ></note-tree-node>
      </ul>
    </div>
    <div class="border col-span-9 px-2">
      <div class="" v-if="state == 'create'">
        <h4 class="text-lg font-semibold mb-2">Create a new note</h4>
        <note-creator :notebook="this.notebook.id" :parent="currentNote ? currentNote.id : null" @noteCreated="addNewNote"></note-creator>
      </div>
      <div v-else>
        <note-editor :note="currentNote"></note-editor>
      </div>
    </div>
  </div>
</template>

<script>
/**
 * Large component, renders notebook tree, handles logic around note selection
 */
export default {
  props: {
    notebook: Object
  },
  data: function() {
    return {
      rootNote: null,
      currentNote: null,
      state: "create"
    }
  },
  methods: {
    findRootNote: function() {
      return this.notebook.notes.find(note => note.parent_id == null)
    },
    setState: function(state) {
      this.state = state;
    },
    setCurrentNote: function(note) {
      console.log('sdkljhfnj');
      this.currentNote = note;
      this.state = 'edit'
    },
    addNewNote(note) {
      this.currentNote.children.push(note);
      this.setCurrentNote(note);
    }
  },
  created: function(){ 
    console.log(this.notebook);
    this.rootNote = this.findRootNote();
    this.setCurrentNote(this.rootNote);
    
  }
}
</script>