<template>
  <div class="container">
      <div class="row block">
        <h4 class="text-lg font-semibold mb-2">{{note.name}}</h4>
      </div>
      <div class="row block">
        {{note.content}}
      </div>
  </div>
</template>

<script>
/**
 * Currently just displays a note, was planned to edit a note too 
 */
const axios = require('axios');
export default {
  props: {
    note: Object
  },
}
</script>